<section style="background-color:#00ff93;padding-left: 10px;padding-bottom: 10px;padding-top:10px", class='hero is-primary'>
  <body>
<nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
   <div paddedclass="navbar-start">
      <a>
       <%= link_to "Este es el Header", "", :class => 'navbar-link'  %> 
      </a> 
    </div>
</section>
</body>